<!DOCTYPE html>
<html>
  <head>
    <title>Web Bookmark</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Web Bookmarks</h1>
    <h3>Save a Bookmark</h3>

    <%= render partial: 'form', locals: { bookmark: @bookmark } %>

    <br><br><hr><br>

    <h3>Find Bookmarks</h3>

    <%= yield %>
  </body>
</html>
