<!DOCTYPE html>
<html>
  <head>
    <title>Web Bookmark</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container-fluid'>
      <div class="row">
        <div class="col-md-3">
          <h3>New Bookmark</h3>
          <%= render partial: 'bookmarks/form', locals: { bookmark: @bookmark } %>
        </div>

        <div class="col-md-9 searchbox">
          <br>
          <%= render_flash_messages %>

          <h3 align="center">Search Bookmarks</h3>
          <%= render partial: 'searches/form' %>
          <br><hr><br>

          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
